<div class="row">
  <div class="col-xs-12 bound">
    <!--<hour-count></hour-count>-->
    <h1>test</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 bound">
    <!--<progress-bar></progress-bar>-->
    <h1>test</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-md-6 bound">
    <!--<wasted-time></wasted-time>-->
    <h1>test</h1>
  </div>
  <div class="col-xs-12 col-md-6 bound">
    <!--<competition></competition>--><h1>test</h1>
  </div>
</div>


<!--<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <h1>
      {{title}}
    </h1>
  </div>
</div>





<google-chart [data]="pieChartOptions"></google-chart>
<google-chart [data]="barChartOptions"></google-chart>

<ul class="dataTables">
  <li *ngFor="let dataTable of dataTables">
    {{dataTable.task}} {{dataTable.focus}} {{dataTable.procrastination}}
  </li>
</ul>

<event-list></event-list>
-->
